#chart1 {
  background-color: rgb(253, 251, 251);
}

colors
#chart1 rect {
  fill: red;
}

.axis text {
  font: 10px sans-serif;
  fill: black;
  font-family: "Times New Roman", Times, serif;

}

.axis.x path {
  display: none;
}

.axis.y text {
  text-anchor: end;
  font-family: "Times New Roman", Times, serif;
}
